<?xml version="1.0" encoding="utf-8"?>

<!--
  Pour plus d'informations sur la configuration de votre application ASP.NET, visitez
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <!--   
 "server=T-PC\SQLEXPRESS;database=GestCompTech;User ID=testab;Password=testabcd" 
 <add name="DBCS" connectionString="server=T-PC\SQLEXPRESS;database=test;integrated security=SSPI"></add>
    <add name="DBCS1" connectionString="server=T-PC\SQLEXPRESS;database=test;integrated security=SSPI"></add>
    <add name="DBCS2" connectionString="server=T-PC\SQLEXPRESS;database=GestionFormation;integrated security=SSPI"></add>
    <add name="DBCS3" connectionString="server=T-PC\SQLEXPRESS;database=GestCompTech;integrated security=SSPI"></add>
  Data Source=T-PC\SQLEXPRESS;Initial Catalog=master;User ID=testab

  -->
  
  <connectionStrings>
    <add name="DBCS" connectionString="Data Source=T-PC\SQLEXPRESS;Initial Catalog=GestCompTech;Persist Security Info=False;User ID=testab;Password=testabcd;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"></add>
    <add name="DBCS1" connectionString="Data Source=T-PC\SQLEXPRESS;Initial Catalog=GestCompTech;Persist Security Info=False;User ID=testab;Password=testabcd;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"></add>
    <add name="DBCS2" connectionString="Data Source=T-PC\SQLEXPRESS;Initial Catalog=GestCompTech;Persist Security Info=False;User ID=testab;Password=testabcd;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"></add>
    <add name="DBCS3" connectionString="Data Source=T-PC\SQLEXPRESS;Initial Catalog=GestCompTech;Persist Security Info=False;User ID=testab;Password=testabcd;Pooling=False;MultipleActiveResultSets=False;Encrypt=False;TrustServerCertificate=True"></add>
  </connectionStrings>

  <appSettings>
      <add key="webPages:Version" value="2.0.0.0"/>
    
    
    <add key="GetEmpByID" value="SELECT  * FROM tblEmployee WHERE ID=@PARAM_01  INSERT (name) val(@name)"  />
    <add key="csGetEmpByID" value="DBCS1"  />
  
    <add key="tag1" value="SELECT TOP 1  * FROM tblEmployee "  />
    <add key="cstag1" value="DBCS"  />

    <add key="itblEmployee" 
         value=
         "INSERT INTO [tblEmployee]([Name],[Gender],[Salary],[Country],[Service])
         VALUES(@Name, @Gender, 9, @Country , @Service)
         "  
         />
    <add key="csitblEmployee" value="DBCS"  />

    <add key="cstblEmployee" value="DBCS"  />
    <add key="csUsrTable" value="DBCS"  />

    <add key="GetUsrByID" value="SELECT  * FROM [UsrTable] WHERE iDUsr=@iDUsr "  />
    <add key="csGetUsrByID" value="DBCS1"  />

    <add key="GetUsr" value="SELECT  * FROM [UsrTable]   "  />
    <add key="csGetUsr" value="DBCS1"  /> 
    <add key="GetFormation" value="SELECT  * FROM [Formation]  "  />
    <add key="csGetFormation" value="DBCS2"  />
    
    <add key="GetFormationById" value="SELECT * FROM [Formation] WHERE IdFormation=@IdFormation "  />
    <add key="csGetFormationById" value="DBCS2"  />

    <add key="csFormation" value="DBCS2"  />
    <add key="csRevetement" value="DBCS3"  />
    <add key="IUserConfig" value="SELECT  * FROM [UsrTable]   "  />
    <add key="csIUserConfig" value="DBCS1"  />

    <add key="GetRevetement" value="SELECT  * FROM [Revetement] "  />
    <add key="csGetRevetement" value="DBCS3"  />
    
    <add key="GetRevetementById" value="SELECT * FROM [Revetement] WHERE IdRevetement=@IdRevetement "  />
    <add key="csGetRevetementById" value="DBCS3"  />


    <add key="GetGraisses" value="SELECT IdGraisses,Nom,CodeAdr,Fabricant   FROM [Graisses] "  />
    <add key="csGetGraisses" value="DBCS3"  />
    <add key="csGraisses" value="DBCS3"  />

    <add key="GetGraissesById" value="SELECT * FROM [Graisses] WHERE IdGraisses=@IdGraisses "  />
    <add key="csGetGraissesById" value="DBCS3"  />

    <add key="GetHuiles" value="SELECT IdHuiles,Nom,CodeAdr,Fabricant   FROM [Huiles] "  />
    <add key="csGetHuiles" value="DBCS3"  />
    <add key="csHuiles" value="DBCS3"  />

    <add key="GetHuilesById" value="SELECT * FROM [Huiles] WHERE IdHuiles=@IdHuiles "  />
    <add key="csGetHuilesById" value="DBCS3"  />


    <add key="GetRoulAnnul" value="SELECT IdRoulAnnul,DateMaj,SerieAnn,Designation   FROM [RoulAnnul] "  />
    <add key="csGetRoulAnnul" value="DBCS3"  />
    <add key="csRoulAnnul" value="DBCS3"  />

    <add key="GetRoulAnnulById" value="SELECT * FROM [RoulAnnul] WHERE IdRoulAnnul=@IdRoulAnnul "  />
    <add key="csGetRoulAnnulById" value="DBCS3"  />



    <add key="GetRoulNorm" value="SELECT IdRoulNorm,DateMaj,SerieISO,InchMetrique   FROM [RoulNorm] "  />
    <add key="csGetRoulNorm" value="DBCS3"  />
    <add key="csRoulNorm" value="DBCS3"  />

    <add key="GetRoulNormById" value="SELECT * FROM [RoulNorm] WHERE IdRoulNorm=@IdRoulNorm "  />
    <add key="csGetRoulNormById" value="DBCS3"  />
    
  </appSettings>
  
  <!--<system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="50000000"/>
      </webServices>
    </scripting>
  </system.web.extensions>
-->
  <system.webServer>
    <httpErrors errorMode="Detailed" />
  </system.webServer>
  
 <!--   
   <system.web>
      <authentication mode="Forms">
         <forms name="401kApp" loginUrl="/login.aspx"/>
      </authentication>
      <authorization>
         <deny users="?"/>
      </authorization>
   </system.web>
</configuration>  
    
-->    
  <system.web>
    <compilation debug="true" targetFramework="4.6.1"/>
    <customErrors mode="Off" />
    <authentication mode="Windows"/>
    <httpRuntime executionTimeout="1200" maxRequestLength="16384"/>
    <webServices>
      <protocols>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	 <!--   <handlers accessPolicy="Read, Write, Execute, Script">
      <remove name="StaticFile" />
      <remove name="SimpleHandlerFactory-ISAPI-2.0" />
      <remove name="WebDAV" />
      <remove name="SimpleHandlerFactory-Integrated-4.0" />
      <remove name="SimpleHandlerFactory-Integrated" />
      <add name="SimpleHandlerFactory-Integrated" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Write" preCondition="integratedMode" />
      <add name="SimpleHandlerFactory-Integrated-4.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS" type="System.Web.UI.SimpleHandlerFactory" resourceType="Unspecified" requireAccess="Write" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="SimpleHandlerFactory-ISAPI-2.0" path="*.ashx" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="classicMode,runtimeVersionv2.0,bitness32" responseBufferLimit="0" />
      <add name="StaticFile" path="*" verb="GET,HEAD,POST,DEBUG,PUT,DELETE,OPTIONS" modules="StaticFileModule,DefaultDocumentModule,DirectoryListingModule" resourceType="Either" requireAccess="Read" />
    </handlers> 
    <security>
      <authorization>
        <remove users="*" roles="" verbs="" />
        <add accessType="Allow" users="*" verbs="GET,HEAD,POST,PUT,DELETE,DEBUG,OPTIONS" />
      </authorization>
    </security>
	
	-->
  </system.web>  
  
  
  <!--
  
 
 
    <system.web>
      <httpRuntime targetFramework="4.0.1"/>
    </system.web>
 
     -->

  <system.web>
    <!--<compilation debug="true" targetFramework="4.6.1"/>
    <httpRuntime targetFramework="4.6.1"/> -->
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
          type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  

</configuration>
